Issue #<a href="{{ issue.html_url }}">{{ issue.number }}</a> {{ issue.title }}
in <a href="{{ repository.html_url }}">{{ repository.full_name }}</a> by <a href="{{ issue.user.html_url }}">{{ issue.user.login }}</a>

Removed label "{{ label.name }}"

{% if issue.assignees %}
Assignees: {% for assignee in issue.assignees %}<a href="{{ assignee.html_url }}">{{ assignee.login }}</a>{{ ", " if not loop.last }}{% endfor %}
{% else %}
No assignees so far
{% endif %}

{% if issue.labels %}
Labels: {% for label in issue.labels %}{{ label.name }}{{ ", " if not loop.last }}{% endfor %}
{% endif %}
