PR #<a href="{{ pull_request.html_url }}">{{ pull_request.number }}</a> {{ pull_request.title }}
from <a href="{{ pull_request.head.repo.html_url }}/tree/{{ pull_request.head.ref }}">{{ pull_request.head.ref }}</a> to <a href="{{ pull_request.base.repo.html_url }}/tree/{{ pull_request.base.ref }}">{{ pull_request.base.ref }}</a>
{{ action }} in <a href="{{ repository.html_url }}">{{ repository.full_name }}</a> by <a href="{{ sender.html_url }}">{{ sender.login }}</a>

{% if pull_request.requested_reviewers %}
Reviewers: {% for reviewer in pull_request.requested_reviewers %}<a href="{{ reviewer.html_url }}">{{ reviewer.login }}</a>{{ ", " if not loop.last }}{% endfor %}
{% else %}
No reviewers so far
{% endif %}

{% if pull_request.labels %}
Labels: {% for label in pull_request.labels %}{{ label.name }}{{ ", " if not loop.last }}{% endfor %}
{% endif %}
